
@{
    ViewBag.Title = "Đơn hàng đang giao cho khách";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách đơn hàng đang giao cho khách</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Số đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>ngày giao</th>
                                <th>Địa chỉ</th>
                                <th>Thành tiền</th>
                                <th>Nhóm lệnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11</td>
                                <td>012311</td>
                                <td>Phạm Viết Thảo</td>
                                <td>3/9/2023</td>
                                <td>TP.HCM</td>
                                <td>100.000</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>012312</td>
                                <td>Hương Thảo</td>
                                <td>23/5/2023</td>
                                <td>TP.HCM</td>
                                <td>350.000</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>012313</td>
                                <td>Văn Cường</td>
                                <td>3/6/2023</td>
                                <td>TP.HCM</td>
                                <td>2.000</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>012314</td>
                                <td>Huỳnh Ngọc</td>
                                <td>31/12/2023</td>
                                <td>TP.HCM</td>
                                <td>50.000</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>012315</td>
                                <td>Sỹ Anh</td>
                                <td>13/15/2023</td>
                                <td>TP.HCM</td>
                                <td>1.700.000</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

